@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.column {
  padding-top: 110px;
}

.main-column {
  width: 64%;
}

.sub-column {
  background-color: #1B1E2F;
  width: 36%;
}

.content-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2em;
  padding: .5em 10%;
  margin-bottom: 3.2rem;
  position: relative;
}

.heading::before {
  content: '';
  display: block;
  width: 20px;
  height: 100%;
  background-color: #FECB00;
  position: absolute;
  top: 0;
  left: 0;
}

.heading--light {
  background-color: #EBEBEB;
}

.section {
  margin-bottom: 6rem;
}

.header {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  margin-bottom: 6.3rem;
}

.header__title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.6rem;
}

.header__title--bold {
  font-weight: 700;
}

.header__subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.22em;
}

.content {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.5em;
}

.skills__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.skill {
  width: 185px;
  margin-bottom: 1.9rem;
}

.skill__skill-name {
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
}

.progress-bar {
  height: 5px;
  background: #EBEBEB;
}

.progress-bar__progress {
  height: 5px;
  background-color: #FECB00;
}

.html .progress-bar__progress {
  width: 95%;
}

.css .progress-bar__progress {
  width: 90%;
}

.js .progress-bar__progress {
  width: 75%;
}

.node .progress-bar__progress {
  width: 20%;
}

.figma .progress-bar__progress {
  width: 90%;
}

.vs-code .progress-bar__progress {
  width: 90%;
}

.git .progress-bar__progress {
  width: 85%;
}

.arrow {
  cursor: pointer;
  padding: 5px;
}

.arrow__line::before, .arrow__line::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #FECB00;
}

.arrow--left .arrow__line::before {
  -webkit-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}

.arrow--left .arrow__line::after {
  -webkit-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}

.arrow--right .arrow__line::before {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.arrow--right .arrow__line::after {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__frame {
  width: 53.3rem;
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.slider__slides {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 53.3rem;
  height: 40rem;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider__slide:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.slider__slide:hover .slide__title {
  bottom: 0;
}

.slider__slide.game-of-life {
  background-image: url("../assets/jpeg/game-of-life.jpg");
}

.slider__slide.audio-player {
  background-image: url("../assets/jpeg/audio-player.jpg");
}

.slider__slide.portfolio {
  background-image: url("../assets/jpeg/portfolio.jpg");
}

.slider__slide.memory-game {
  background-image: url("../assets/jpeg/memory-game.jpg");
}

.slider__slide.shelter {
  background-image: url("../assets/jpeg/shelter.jpg");
}

.slider__slide.random-jokes {
  background-image: url("../assets/jpeg/random-gokes.jpg");
}

.slide__title {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #EBEBEB;
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.userpic {
  margin-bottom: 6.3rem;
}

.userpic__content {
  background-image: url("../assets/jpeg/userpic.jpg");
  background-size: 100%;
  width: 26.25rem;
  height: 26.25rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid #FECB00;
}
/*# sourceMappingURL=style.css.map */