@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.main {
  display: flex;
  flex-direction: row-reverse;
}

.title {
  width: 64%;
  padding-top: 6.3rem;
  padding-bottom: 6.3rem;
}
.title .heading {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  margin-bottom: 0;
}

.userpic {
  width: 36%;
  padding-top: 6.3rem;
  padding-bottom: 6.3rem;
  background-color: #1b1e2f;
}
.userpic__content {
  background-image: url("../assets/jpeg/userpic.jpg");
  background-size: 100%;
  width: 26.25rem;
  height: 26.25rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid #fecb00;
}

.wrapper {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-column {
  width: 64%;
}
.main-column .section {
  margin-bottom: 6rem;
}
.main-column a {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.sub-column {
  background-color: #1b1e2f;
  color: white;
  width: 36%;
}
.sub-column .content-wrapper {
  padding-left: 24%;
  padding-right: 24%;
}
.sub-column .section {
  margin-bottom: 4rem;
}
.sub-column a {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
}

.content-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2em;
  padding: 0.5em 10%;
  margin-bottom: 3.2rem;
  position: relative;
}
.heading::before {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  background-color: #fecb00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.heading__main {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.6rem;
}
.heading__subtitle {
  font-weight: 500;
}
.heading--light {
  background-color: #ebebeb;
}
.heading--dark {
  background-color: #232537;
}
.heading--dark::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #393a4d;
  position: absolute;
  bottom: 0;
  left: 0;
}
.heading--bold {
  font-weight: 700;
}

.content {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.5em;
}

.skills__content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.skill {
  width: 185px;
  margin-bottom: 1.9rem;
}
.skill__skill-name {
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
}

.progress-bar {
  height: 5px;
  background: #ebebeb;
}
.progress-bar__progress {
  height: 5px;
  background-color: #fecb00;
}

.js .progress-bar__progress {
  width: 85%;
}

.ts .progress-bar__progress {
  width: 60%;
}

.react .progress-bar__progress {
  width: 65%;
}

.html .progress-bar__progress {
  width: 95%;
}

.css .progress-bar__progress {
  width: 90%;
}

.git .progress-bar__progress {
  width: 85%;
}

.webpack .progress-bar__progress {
  width: 65%;
}

.projects ul {
  font-size: 2rem;
}
.projects p:not(:last-child) {
  margin-bottom: 0.2em;
}

.project p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.project:not(:last-child) {
  margin-bottom: 2.5rem;
}
.project__title {
  margin-bottom: 0.3em;
}

.sub-column dt {
  font-size: 2.1rem;
  line-height: 1.22em;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.sub-column dd {
  font-size: 1.6rem;
  line-height: 1.22em;
  font-weight: 500;
}
.sub-column dd:not(:last-child) {
  margin-bottom: 3.2rem;
}
.sub-column .soft-skills__list {
  font-size: 2.1rem;
  line-height: 1.22em;
  font-weight: 600;
}
.sub-column .soft-skills__list li {
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .header,
.main {
    flex-direction: column;
  }
  .title {
    padding-top: 0;
    padding-bottom: 0;
  }
  .title,
.userpic,
.main-column,
.sub-column {
    width: 100%;
  }
  .heading__main {
    font-size: 5rem;
  }
  .slide__title {
    font-size: 1.5rem;
    bottom: 0;
  }
  .sub-column .content-wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
}/*# sourceMappingURL=style.css.map */