@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.main {
  display: flex;
  flex-direction: row-reverse;
}

.title {
  width: 64%;
  padding-top: 6.3rem;
  padding-bottom: 6.3rem;
}
.title .heading {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  margin-bottom: 0;
}

.userpic {
  width: 36%;
  padding-top: 6.3rem;
  padding-bottom: 6.3rem;
  background-color: #1b1e2f;
}
.userpic__content {
  background-image: url("../assets/jpeg/userpic.jpg");
  background-size: 100%;
  width: 26.25rem;
  height: 26.25rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid #fecb00;
}

.wrapper {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-column {
  width: 64%;
}
.main-column .section {
  margin-bottom: 6rem;
}
.main-column a {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.sub-column {
  background-color: #1b1e2f;
  color: white;
  width: 36%;
}
.sub-column .content-wrapper {
  padding-left: 24%;
  padding-right: 24%;
}
.sub-column .section {
  margin-bottom: 4rem;
}
.sub-column a {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
}

.content-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2em;
  padding: 0.5em 10%;
  margin-bottom: 3.2rem;
  position: relative;
}
.heading::before {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  background-color: #fecb00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.heading__main {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.6rem;
}
.heading__subtitle {
  font-weight: 500;
}
.heading--light {
  background-color: #ebebeb;
}
.heading--dark {
  background-color: #232537;
}
.heading--dark::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #393a4d;
  position: absolute;
  bottom: 0;
  left: 0;
}
.heading--bold {
  font-weight: 700;
}

.content {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.5em;
}

.skills__content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.skill {
  width: 185px;
  margin-bottom: 1.9rem;
}
.skill__skill-name {
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
}

.progress-bar {
  height: 5px;
  background: #ebebeb;
}
.progress-bar__progress {
  height: 5px;
  background-color: #fecb00;
}

.js .progress-bar__progress {
  width: 85%;
}

.ts .progress-bar__progress {
  width: 60%;
}

.react .progress-bar__progress {
  width: 50%;
}

.html .progress-bar__progress {
  width: 95%;
}

.css .progress-bar__progress {
  width: 90%;
}

.node .progress-bar__progress {
  width: 20%;
}

.git .progress-bar__progress {
  width: 85%;
}

.webpack .progress-bar__progress {
  width: 65%;
}

.arrow {
  cursor: pointer;
  padding: 30px 5px;
}
.arrow__line::before, .arrow__line::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fecb00;
}
.arrow--left .arrow__line::before {
  transform: translateY(-6px) rotate(-45deg);
}
.arrow--left .arrow__line::after {
  transform: translateY(6px) rotate(45deg);
}
.arrow--right .arrow__line::before {
  transform: translateY(-6px) rotate(45deg);
}
.arrow--right .arrow__line::after {
  transform: translateY(6px) rotate(-45deg);
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider__frame {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider__slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  transition: ease 0.3s;
}
.slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: 100%;
  transition: all 0.3s;
  position: relative;
}
.slider__slide:not(:last-child) {
  margin-right: 20px;
}
.slider__slide:hover {
  filter: grayscale(50%);
}
.slider__slide:hover .slide__title {
  bottom: 0;
}
.slider__slide.news-portal {
  background-image: url("../assets/jpeg/news-portal.png");
}
.slider__slide.game-of-life {
  background-image: url("../assets/jpeg/game-of-life.jpg");
}
.slider__slide.audio-player {
  background-image: url("../assets/jpeg/audio-player.jpg");
}
.slider__slide.portfolio {
  background-image: url("../assets/jpeg/portfolio.jpg");
}
.slider__slide.memory-game {
  background-image: url("../assets/jpeg/memory-game.jpg");
}
.slider__slide.shelter {
  background-image: url("../assets/jpeg/shelter.jpg");
}
.slider__slide.random-jokes {
  background-image: url("../assets/jpeg/random-gokes.jpg");
}

.slide__title {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #ebebeb;
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
}

.sub-column dt {
  font-size: 2.1rem;
  line-height: 1.22em;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.sub-column dd {
  font-size: 1.6rem;
  line-height: 1.22em;
  font-weight: 500;
}
.sub-column dd:not(:last-child) {
  margin-bottom: 3.2rem;
}
.sub-column .soft-skills__list {
  font-size: 2.1rem;
  line-height: 1.22em;
  font-weight: 600;
}
.sub-column .soft-skills__list li {
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .header,
.main {
    flex-direction: column;
  }
  .title {
    padding-top: 0;
    padding-bottom: 0;
  }
  .title,
.userpic,
.main-column,
.sub-column {
    width: 100%;
  }
  .heading__main {
    font-size: 5rem;
  }
  .slide__title {
    font-size: 1.5rem;
    bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */