@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

$dark-bg: #1B1E2F;
$grey-bg: #EBEBEB;
$dark-title: #232537;
$dark-title-underline: #393A4D;
$yellow: #FECB00;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.column {
  padding-top: 6.3rem;
}

.main-column {
  width: 64%;

  .section {
    margin-bottom: 6rem;
  }

  a {
    border-bottom: 2px dotted rgba(0,0,0,0.2);
  }
}

.sub-column {
  background-color: $dark-bg;
  color: white;
  width: 36%;

  .content-wrapper {
    padding-left: 24%;
    padding-right: 24%;;
  }

  .section {
    margin-bottom: 4rem;
  }

  a {
    border-bottom: 2px dotted rgba(255,255,255,0.2);
  }
}

.content-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2em;
  padding: .5em 10%;
  margin-bottom: 3.2rem;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    background-color: $yellow;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &--light{
    background-color: $grey-bg;
  }

  &--dark {
    background-color: $dark-title;
    
    &::after {
      content: '';
      display: block;
      height: 4px;
      width: 100%;
      background-color: $dark-title-underline;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.header {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  margin-bottom: 6.3rem;

  &__title {
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 1.6rem;

    &--bold {
      font-weight: 700;
    }
  }

  &__subtitle {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.22em;
  }
}

.content {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.5em;
}

.skills__content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 80px;
}

.skill {
  width: 185px;
  margin-bottom: 1.9rem;

  &__skill-name {
    font-size: 1.9rem;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
  }
}

.progress-bar {
  height: 5px;
  background: $grey-bg;

  &__progress {
    height: 5px;
    background-color: $yellow;
  }
}

.html .progress-bar__progress {width: 95%}
.css .progress-bar__progress {width: 90%}
.js .progress-bar__progress {width: 75%}
.node .progress-bar__progress {width: 20%}
.figma .progress-bar__progress {width: 90%}
.vs-code .progress-bar__progress {width: 90%}
.git .progress-bar__progress {width: 85%}

.arrow {
  cursor: pointer;
  padding: 30px 5px;

  &__line {
    &::before,
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: $yellow;
    }
  }

  &--left &__line {
    &::before {
      transform: translateY(-6px) rotate(-45deg);
    }
    &::after {
      transform: translateY(6px) rotate(45deg);
    }
  }

  &--right &__line {
    &::before {
      transform: translateY(-6px) rotate(45deg);
    }
    &::after {
      transform: translateY(6px) rotate(-45deg);
    }
  }
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__frame {
    width: 53.3rem;
    height: 40rem;
    overflow: hidden;
    position: relative;
  }

  &__slides {
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: nowrap;
    position: relative;
    transition: ease 0.3s;
  }

  &__slide {
    flex-shrink: 0;
    width: 53.3rem;
    height: 40rem;
    background-size: 100%;
    transition: all 0.3s;

    &:hover {
      filter: grayscale(50%);

      & .slide__title {
        bottom: 0;
      }
    }

    &.game-of-life {background-image: url('../assets/jpeg/game-of-life.jpg');}
    &.audio-player {background-image: url('../assets/jpeg/audio-player.jpg');}
    &.portfolio {background-image: url('../assets/jpeg/portfolio.jpg');}
    &.memory-game {background-image: url('../assets/jpeg/memory-game.jpg');}
    &.shelter {background-image: url('../assets/jpeg/shelter.jpg');}
    &.random-jokes {background-image: url('../assets/jpeg/random-gokes.jpg');}
  }
}

.slide__title {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: $grey-bg;
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
}

.userpic {
  margin-bottom: 6.3rem;
}

.userpic__content {
  background-image: url('../assets/jpeg/userpic.jpg');
  background-size: 100%;
  width: 26.25rem;
  height: 26.25rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid $yellow;
}

.sub-column {
  & dt {
    font-size: 2.1rem;
    line-height: 1.22em;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

  & dd {
    font-size: 1.6rem;
    line-height: 1.22em;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }
  }

  .soft-skills__list {
    font-size: 2.1rem;
    line-height: 1.22em;
    font-weight: 600;

    & li {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .main-column,
  .sub-column {
    width: 100%;
  }
}